<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>projeto_gslab</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>org.h2.server.web.JakartaDbStarter</listener-class>
  </listener>
  <display-name>projeto_gslab</display-name>
  <context-param>
    <param-name>db.url</param-name>
    <param-value>jdbc:h2:tcp://localhost/~/test</param-value>
  </context-param>
  <context-param>
    <param-name>db.user</param-name>
    <param-value>sa</param-value>
  </context-param>
  <context-param>
    <param-name>db.password</param-name>
    <param-value>47101</param-value>
  </context-param>
  <context-param>
    <param-name>db.tcpServer</param-name>
    <param-value>-tcpAllowOthers</param-value>
  </context-param>
  <servlet>
    <servlet-name>H2Console</servlet-name>
    <servlet-class>org.h2.server.web.JakartaWebServlet</servlet-class>
    <init-param>
      <param-name>webAllowOthers</param-name>
      <param-value>1</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>H2Console</servlet-name>
    <url-pattern>/console/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalendarioAluno3</display-name>
    <servlet-name>CalendarioAluno3</servlet-name>
    <servlet-class>projeto_gslab.CalendarioAluno3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalendarioAluno3</servlet-name>
    <url-pattern>/CalendarioAluno3</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>Salas</display-name>
    <servlet-name>Salas</servlet-name>
    <servlet-class>projeto_gslab.Salas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Salas</servlet-name>
    <url-pattern>/Salas</url-pattern>
  </servlet-mapping>
</web-app>